/* .map_splash{
    width: 100%;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    width: 80%;
    max-height: 80%;
    height: auto;
} */


.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Mountain . Savanna"
      ". City ."
      "Jungle . Forest";

    height: 34%;
    width: 34%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    background-image: url('../assets/mapBackground.png');
    margin-bottom: 1rem;
  }

  .container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  
  
  .Mountain { grid-area: Mountain; }
  .Mountain:hover img {
    transform: scale(1.5);
  }
  
  .City { grid-area: City; }
  .City:hover img {
    transform: scale(1.5);
  }
  
  .Savanna { grid-area: Savanna; }
  .Savanna:hover img {
    transform: scale(1.5);
  }
  
  .Forest { grid-area: Forest; }
  .Forest:hover img {
    transform: scale(1.5);
  }
  
  .Jungle { grid-area: Jungle; }
    .Jungle:hover img {
        transform: scale(1.5);
    }
  

h2 {
    font-size: 3rem;
}

/* button {
    width: 20%;
    margin: 1rem;
} */

@media only screen and (max-width: 768px) {
    .map_splash {
        height: calc(100vh - 220px);
    }
}
