.species_splash {
    background-color: lightblue;
    height: 100vh;
    padding: 60px;
}

/* styles for the header bar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #1443df;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .header button {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .headerbutton:hover {
    background-color: #333333;
    color: #ffffff;
    border-color: #ffffff;
  }
  
  
  .species_cats_splash {
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 60px 40px 0px 40px;
    height: 80%;
  }
  
  .cat_pic {
    width: 50%;
    height: 50%;
    aspect-ratio: 1-1;
    margin: 30px 30px 30px 30px;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
  }
  
  .cat_pic img {
    width: 100%; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
  }
  
  .cat_info {
    width: 50%;
    margin: 30px;
  }
  
  .cat_info h1 {
    text-align: center;
  }
  
  .cat_info h4 {
    margin-top: 20px;
    margin-left: 20px;
  }