.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex-direction: column;
  background-color: #f0c199;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fredoka {
  font-family: FredokaBold;
}
.icons{
  transform: Scale(1.5);
  color: black
}

.icons2{
  transform: Scale(2.0);
  margin-bottom: 5px;
  color: black
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
